<!DOCTYPE html>
<html>

<head>
	<% include partials/headrefs %>
</head>

<body>

	<% include partials/header %>

	
	<div class="main">
		<% if (data2.getMostWatchedItemsResponse.itemRecommendations.item.length != 0) { %>
		
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="productBox">
							<h3 class="categoryTitle">Trending Deals for
								<%=categoryName%>
							</h3>
							<div class="row">
		
								<% data2.getMostWatchedItemsResponse.itemRecommendations.item.forEach(function(product) { %>
		
									<div class="hidden-xs col-md-4">
										<div class="productThumbnail">
											<div class="productTitle">
												<%=product.title%>
											</div>
											<img src="<%=product.imageURL%>" alt="..." class="center-block">
											<div class="caption">
												<div class="price">
													$
													<%=parseFloat(product.buyItNowPrice.__value__.toString()).toFixed(2)%>
												</div>
												<p>
													<a href="<%=product.viewItemURL %>" class="btn dealBtn-Primary" role="button" target="blank">View Deal</a>
												</p>
											</div>
										</div>
									</div>

									<div class="hidden-lg col-xs-12">
										<div class="productThumbnail">
											<div class="popularDealsRow">
												<div class="col-xs-3">
													<img src="<%=product.imageURL%>" alt="..." class="center-block mobilePopularDealsImg">
												</div>
												<div class="col-xs-9">
													<div class="popularDealsProductTitle">
														<a href="<%=product.viewItemURL %>">
															<%=product.title%>
														</a>
													</div>
													<div class="caption">
														<div class="popularDealsPrice">
															$
															<%=parseFloat(product.buyItNowPrice.__value__.toString()).toFixed(2)%>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								<% }) %>
		
							</div>
						</div>
					</div>
				</div>
			</div>
		
		<% } %>
		
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="productBox">
						<h3 class="categoryTitle">
							<%=categoryName%>
						</h3>
						<div class="row">

							<% data.findItemsByCategoryResponse[0].searchResult[0].item.forEach(function(product) {
									if(product.galleryURL != "http:\/\/thumbs1.ebaystatic.com\/pict\/04040_0.jpg") {
		%>

								<div class="col-xs-6 fiveAcross">
									<div class="productThumbnailCategory">
										<div class="productTitle">
											<%=product.title%>
										</div>
										<img src="<%=product.galleryURL%>" alt="..." class="center-block">
										<div class="caption">
											<div class="price">$
												<%=parseFloat(product.sellingStatus[0].currentPrice[0].__value__.toString()).toFixed(2)%>
											</div>
											<p>
												<a href="<%=product.viewItemURL%>" class="btn dealBtn-Primary" role="button" target="blank">View Deal</a>
											</p>
										</div>
									</div>
								</div>

								<%  }}) %>

						</div>
					</div>
				</div>
			</div>
		</div>

		<a href="#" id="loadMore">View More Results</a>
		<p class="totop">
			<a href="#top" id="topper">Back to top</a>
		</p>

				<% include partials/footer %>
				
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>

</body>




</html>