<!DOCTYPE html>
<html>

<head>
<% include partials/headrefs %>
<meta name="google-site-verification" content="bmrBi1oEex0acQTB1IS2DdQZX5Sf8v0uJbMbWeOeXxI" />
<meta name="msvalidate.01" content="68AF5EEFB297265267202CE8A2B3DF6F" />
</head>

<body>

	<% include partials/header %>

	<div class="main">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-8">
					<div class="productBox">
						<h1 class="categoryTitle">
							<span id="pig">Pig</span> in a Poke
							<small>(Featured Deal)</small>
						</h1>
						<div class="dealOfDayProductThumbnail">
							<div class="row row-eq-height-sm">
								<div class="col-sm-5">
									<div class="dealOfDayProductTitle hidden-lg hidden-sm">
										<%=data.items[0].title%>
									</div>
									<img class="img-responsive" src="<%=data.items[0].imageUrl%>" alt="...">
								</div>
								<div class="col-sm-7">
									<div class="dealOfDayProductTitle hidden-xs">
										<%=data.items[0].title%>
									</div>
									<div class="dealofDayPrice">
										<span class="dealOfDayOldPrice">
											<%=data.items[0].originPrice%>
										</span>$
										<%=data.items[0].price.toFixed(2)%>
											<a href="<%=data.items[0].itemUrl%>" class="btn dealOfDayBtn-Primary" role="button" target="blank">View Deal</a>
									</div>
								</div>
								<!-- <a href="<%=data.items[0].itemUrl%>" class="btn dealBtn-Primary hidden-lg" role="button" target="blank">View Deal</a> -->
							</div>
						</div>
					</div>
				</div>

		
				<!-- Most Popular Deals Section -->
		
				<div class="col-sm-4 col-md-3 col-md-offset-1 hidden-xs">
					<div class="popularDealsProductBox">
						<h3 class="popularDealsTitle">Most Popular Deals</h3>
						<div class="row">
		
		
							<% data2.getMostWatchedItemsResponse.itemRecommendations.item.forEach(function(product) { %>
		
								<div class="col-sm-12">
									<div class="productThumbnail">
										<div class="popularDealsRow">
											<div class="col-sm-2">
												<img src="<%=product.imageURL%>" alt="..." class="center-block popularDealsImg">
											</div>
											<div class="col-sm-10">
												<div class="popularDealsProductTitle">
													<a href="<%=product.viewItemURL %>">
														<%=product.title%>
													</a>
												</div>
												<div class="caption">
													<div class="popularDealsPrice">
														$<%=parseFloat(product.buyItNowPrice.__value__.toString()).toFixed(2)%>
													</div>
													<!-- <p><a href="<%=product.viewItemURL %>" class="btn dealBtn-Primary" role="button" target="blank">View Deal</a></p> -->
												</div>
											</div>
										</div>
									</div>
								</div>
							<% }) %>
							<a href="https://twitter.com/SkinnyPigDeals" class="twitter-follow-button" data-show-count="false">Follow @SkinnyPigDeals</a>
							<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="productBox">
						<h3 class="categoryTitle">Daily Deals</h3>
						<div class="row">
		
							<% for (i = 1; i < data.items.length; i++) {
					if (data.items[i].price != null && data.items[i].price != "" && data.items[i].originPrice != null && data.items[i].originPrice != "") { %>
		
		
		
		
								<div class="col-sm-4 col-xs-6 fiveAcross">
									<div class="productThumbnail">
										<div class="productTitle">
											<%=data.items[i].title%>
										</div>
										<img src="<%=data.items[i].imageUrl%>" alt="..." class="center-block">
										<div class="oldPrice hidden-sm hidden-lg">
											<span class="oldPrice">
												<%=data.items[i].originPrice%>
											</span>
										</div>
										<div class="caption">
											<div class="price">
												<span class="oldPrice hidden-xs"><%=data.items[i].originPrice%></span>$<%=data.items[i].price.toFixed(2)%>
											</div>
											<p>
												<a href="<%=data.items[i].itemUrl%>" class="btn dealBtn-Primary" role="button" target="blank">View Deal</a>
											</p>
										</div>
									</div>
								</div>
								<% } } %>

								<div class="col-sm-4 col-xs-6 fiveAcross">
									<div class="productThumbnail">
										<div class="productTitle">
											<%= data3.items[3].name %>
										</div>
										<img src="<%=data3.items[3].thumbnailImage%>" alt="..." class="center-block">
										<div class="oldPrice hidden-sm hidden-lg">
											<span class="oldPrice">
												<%=data3.items[3].msrp%>
											</span>
										</div>
										<div class="caption">
											<div class="price">
												<span class="oldPrice hidden-xs"><%=data3.items[3].msrp%></span>$<%=data3.items[3].salePrice%>
											</div>
											<p>
												<a href="<%=data3.items[3].productUrl%>" class="btn dealBtn-Primary" role="button" target="blank">View Deal</a>
											</p>
										</div>
									</div>
								</div>
		
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<% include partials/footer %>

</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
 crossorigin="anonymous"></script>
</html>